<div class="row">
  <div class="col-md-6">
    <h3>Invoices List</h3>
    <div *ngIf="errorText" class="alert alert-danger" role="alert">{{errorText}}</div>
    <div class="input-group">
      <input type="text" class="form-control" name="text" placeholder="New invoice..." [(ngModel)]="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="addInvoice(null)">Add Invoice</button>
      </span>
    </div><br />
    <input #searchBox id="search-box" class="form-control" placeholder="Search..." (keyup)="search(searchBox.value)" /><br />
    <div *ngIf="searchResultText" class="alert alert-warning" role="alert">{{searchResultText}}</div>
    <ul class="list-group invoice-list">
      <li *ngFor="let invoice of invoices" class="list-group-item">
        <span class="badge" style="float: none">{{invoice.id}}</span>
        {{invoice.text}}
        <button class="pull-right" (click)="deleteInvoice(invoice.id)" title="Remove"><i class="fas fa-trash-alt"></i></button>
        <button class="pull-right" (click)="addInvoice(invoice.text)" title="Copy"><i class="fas fa-copy"></i></button>
      </li>
    </ul>
  </div>
</div>
